<div class="actions columns large-2 medium-3">
    <h3><?= __('Actions') ?></h3>
    <ul class="side-nav">
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $precognition->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $precognition->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Precognitions'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Dcourses'), ['controller' => 'Dcourses', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Dcourse'), ['controller' => 'Dcourses', 'action' => 'add']) ?></li>
    </ul>
</div>
<div class="precognitions form large-10 medium-9 columns">
    <?= $this->Form->create($precognition) ?>
    <fieldset>
        <legend><?= __('Edit Precognition') ?></legend>
        <?php
            echo $this->Form->input('recognition_name');
            echo $this->Form->input('dcourses._ids', ['options' => $dcourses]);
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
