<div class="actions columns large-2 medium-3">
    <h3><?= __('Actions') ?></h3>
    <ul class="side-nav">
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $osemester->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $osemester->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Osemesters'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Dunits'), ['controller' => 'Dunits', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Dunit'), ['controller' => 'Dunits', 'action' => 'add']) ?></li>
    </ul>
</div>
<div class="osemesters form large-10 medium-9 columns">
    <?= $this->Form->create($osemester) ?>
    <fieldset>
        <legend><?= __('Edit Osemester') ?></legend>
        <?php
            echo $this->Form->input('semester_number');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
