<?php
/*
 * Author : Amey Kalamkar
 * Date : 9th Sep 2015
 * Title: Home Page - Index Page 
 * Description : This is the index page for the web Application 
 */
$this->layout = 'homepage';
?>
<!DOCTYPE html>
<html>
    <head>
        <?php echo $this->element('navigation'); ?>
    </head>
    <body >
    </body>
</html>